body{
background-color: #F0F4F6;
    color: dimgrey;
    font: 13pt Montserrat, "Montserrat SemiBold";

}
.membros{


    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #828282;

}
a{
    text-decoration: none;
    color: #828282;
}
.base{
    position: absolute;
    width: 457px;
    height: 424px;
    left: 826px;
    top: 311px;
    background: #FFFFFF;
}
#churn {

    position: absolute;
    width: 92px;
    height: 92px;
    left: 753px;
    top: 145px;

    background: #84A1B1;
    border-radius: 50%;
}
.departamento{
    position: absolute;
    width: 185px;
    height: 84px;
    left: 707px;
    top: 248px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #828282;
}
.graficoesforço{
    position: absolute;
    width: 324px;
    height: 46px;
    left: 847px;
    top: 330px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #828282;
}

div.equipa{
    position: absolute;
    width: 457px;
    height: 423px;
    left: 318px;
    top: 311px;
    background: #FFFFFF;
    overflow: auto;

}
div.grafico{
    position: absolute;
    width: 457px;
    height: 424px;
    left: 826px;
    top: 311px;

    background: #FFFFFF;

}

ul {
    list-style-type: none;
}


.base_graf_Em_Busca {
    position: absolute;
    width: 457px; /*tamanho lateral do grafico*/
    height: 200px; /*altura do grafico, proporcional a 10 itens*/
    left: 826px;
    top: 370px;
    background: #FFFFFF;
}
.Busca_nome {
    width: 15%;
    background-color: white;
    height: 50px; /*se alterar altura, alterar também altura da tabela*/
    float: left;
}
.Busca_valor {
    width: 85%;
    background-color: white;
    height: 50px; /*altura igual a da classe Busca_nome*/
    float: right;
}
.Busca_nome_centralizado {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.insert_busca_width1 {
    background-color: #CD4343;
    height: 30px;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
}
.insert_busca_width2 {
    background-color: #6091CE;
    height: 30px;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
}
.insert_busca_width3 {
    background-color: #F4A522;
    height: 30px;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
}
.insert_busca_width4 {
    background-color: #9665BC;
    height: 30px;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
}
.insert_busca_width5 {
    background-color: #7BBC66;
    height: 30px;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
}