body{
    background-color: #F0F4F6;
    color: dimgrey;
    font: 13pt Montserrat, "Montserrat SemiBold";
}
.caixa_timeline {
    position: absolute;
    width: 964px;
    height: 203px;
    left: 318px;
    top: 155px;
    background: #FFFFFF;

}
.scroll::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

.scroll::-webkit-scrollbar-track {
    background: #F0F4F6;        /* color of the tracking area */
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #C4C4C4;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: #F0F4F6;  /* creates padding around scroll thumb */
}

.scroll{
    position: absolute;
    width: 790px;
    height: 300px;
    left: 318px;
    top: 435px;
    box-sizing: border-box;
    overflow: auto;
}
#caixa{
    position: absolute;
    width: 787px;
    height: 300px;
    left: 318px;
    top: 435px;
    background: #FFFFFF;

}
.caixa_ficheiro {
    margin-top: -1px;
    margin-left: 20px;
    float:left;
    width: 738.72px;
    height: auto;
    display: inline;
    border:solid #828282;
    border-width: 1px 1px 0px 1px;
    box-sizing: border-box;
}
.caixa_ficheiro:first-child{
    margin-top:20px;
}
.caixa_ficheiro:last-child{
    border-width: 1px 1px 1px 1px;
}



ul.conteudo_ficheiro {
    margin-left: 50px;

}

.churn {
    width: 25px;
    height: 25px;
    background: #D1D1D1;
    border-radius: 50%;
    float:left;
    margin-left: -20px;
    margin-right:10px;
    margin-top: -2px;
}

a{
    text-decoration: none;
    color: #828282;
}
ul {
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #828282;
}

.filtrar{
    position: absolute;
    width: 100px;
    left: 1129px;
    top: 400px;
    background: #E8EBF5;
}
.alinhar{
    text-align: center
}



.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #E8EBF5;
    width: 160px;
    padding: 12px 16px;
    z-index: 1;



}
.dropdown-content1::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

.dropdown-content1::-webkit-scrollbar-track {
    background: #F0F4F6;        /* color of the tracking area */
}

.dropdown-content1::-webkit-scrollbar-thumb {
    background-color: #C4C4C4;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: #F0F4F6;  /* creates padding around scroll thumb */
}
.dropdown-content1 {
    overflow-y:scroll ;
    display: none;
    height: 80px;
    position: absolute;
    background-color: #E8EBF5;
    margin-top: 10px;
    width: 135px;
    padding: 8px 16px;
    z-index: 1;

}
.dropdown-content2::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

.dropdown-content2::-webkit-scrollbar-track {
    background: #F0F4F6;        /* color of the tracking area */
}

.dropdown-content2::-webkit-scrollbar-thumb {
    background-color: #C4C4C4;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: #F0F4F6;  /* creates padding around scroll thumb */
}
.dropdown-content2 {
    overflow-y:scroll ;
    display: none;
    height: 80px;
    position: absolute;
    background-color: #E8EBF5;
    margin-top: 10px;
    width: 135px;
    padding: 8px 16px;
    z-index: 1;
}
.dropdown:hover .dropdown-content2 {
    display: block;

}
.dropdown:hover .dropdown-content1 {
    display: block;

}

.dropdown:hover .dropdown-content {
    display: block;
}

ul {
    list-style-type: none;
}