body{
    height: 700px;
    background-color: #E5E5E5;
}

body{
    font-family: "Montserrat Medium";
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 600px;
    height: 700px;
    position: relative;
}

h1 {
    font-size: 60px;
    text-transform: uppercase;

}
span{
    width: 100%;
    float: left;
    margin-top: 260px;
    margin-left:-10px;
    text-align: center;
    color:#84A1B1;
    opacity: 0;
    animation-name: titleAnimation;
    animation-timing-function:ease;
    animation-duration: 8.5s;
    animation-iteration-count: infinite;
}

h1 span {
    animation-delay: 0.6s;
    -webkit-animation-fill-mode: forwards;
}

h1 {
    top: 0;
    position: absolute;
    color: #84A1B1;
    animation-delay: 4.2s;
}

span {
    animation-delay: 4.1s;
    -webkit-animation-fill-mode: forwards;
}



@keyframes titleAnimation {
    0% {
        transform: translateY(-50px);
        opacity: 0;
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    }
    20% {
        transform: translateY(0);
        opacity: 1;
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 10%);
    }
    80% {
        transform: translateY(0);
        opacity: 1;
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 10%);
    }
    100% {
        transform: translateY(50px);
        opacity: 0;
        -webkit-clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
        clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);

    }
}