
.login_container {
    padding: 0 400px;
    margin-left: 150px;
    margin-top: 200px;
    color: #84A1B1;
}

.login_container h1{
    font: 20pt "Montserrat SemiBold", sans-serif;
}

.login_container b {
    font: 12.7pt "Montserrat SemiBold", sans-serif;
}


.login_container p{
    font: 12.7pt "Montserrat SemiBold", sans-serif;
    text-align: center;

}

/* Full-width input fields */
.login_container input[type=text], .login_container input[type=password], .login_container input[type=email] {
    width: 100%;
    padding: 12px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: white;
    border-radius: 20px;
}

/* Set a style for the submit/register button */
.loginbtn {
    font: 13pt "Roboto Medium", sans-serif;
    margin-top: 15px;
    margin-left: 150px;
    background-color: #84A1B1;
    color: white;
    cursor: pointer;
    width: 50%;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}

.loginbtn:hover, .confirm-btn:hover, .carrinhobtn:hover, .precobtn:hover, .compra-btn:hover  {
    background-color: #6A8899;
}

.login_container a {
    color: white;
}
