.timeline {
    background: #E5E5E5;
    display: inline-block;
}

.timeline h1 {
    position: absolute;
    width: 204px;
    height: 23px;
    left: 343px;
    top: 167px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #828282;
}

.timeline img {
    position: absolute;
    left: 343px;
    top: 241px;
}

.timeline ul {
    position: absolute;
    left: 381px;
    top: 236px;
    list-style: none;
}

.timeline il {
    width: 11px;
    height: 11px;
    background-color: #84A1B1;
    border-radius: 50%;
    display: inline-block;

}