<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" href="base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <img src="" alt="Logo!"/>

        <div id="cabecalho">
            <form action="/form/submit" method="GET">
                <input type="text" name="text" class="search" placeholder="Procurar Repositório..">
                <input type="submit" name="submit" class="submit" value="Search">
            </form>

            <span>Hi, Username</span>
            <div id="perfil"></div>
        </div>
    </header>

    <div class="collapsable">

        <nav>
        <div id="back"></div>
            <a href="#">Home</a>
            <button class="dropdown-btn">Departamento
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="#">Todos</a>
                <a href="#">Membro 1</a>
                <a href="#">Membro 2</a>
                <a href="#">Membro 3</a>
                <a href="#">Membro 4</a>
                <a href="#">Membro 5</a>
            </div>
            <a href="#">Commits</a>
            <a href="#">Issues</a>

            <button id="collapse">
                Collapse
            </button>
        </nav>
    </div>



    <script src="base.js"></script>
    <script src="base2.js"></script>

    {% block body %}
    {% endblock %}
</body>
</html>