<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

{% block head %}
    <title>Title</title>
 {% endblock %}

    <link rel="stylesheet" href="Histórico%20de%201%20Ficheiro.css">

</head>
<body>

{% block body %}

{% endblock %}

<main>

    <div class="background"></div>
    <div class="background_branco"></div>
    <div class="background_branco1"></div>

    <div id="caixa_ficheiro">
        <div id="churn"></div>
        <ul id="conteudo_ficheiro">
            <li id="categoria">[DEV]</li>
            <li id="nome_ficheiro">Ficheiro1.txt</li>
        </ul>
    </div>

    <div class="container">
        <ul>
            <li>22 Oct, 2021</li>
            <li> - </li>
            <li>3 Commits</li>
        </ul>

        <div class="container_commit">
            <ul>
                <li>
                    <a href="#"><div class="perfil"></div></a>
                </li>
                <li><a href="#">
                    Update Ficheiro1.txt</a>
                </li>
                <li>
                    autoria de
                </li>
                <li>
                    Tatiana
                </li>
                <li>
                    às
                </li>
                <li>
                    14h
                </li>
            </ul>
        </div>

        <div class="container_commit">
            <ul>
                <li>
                    <a href="#"><div class="perfil"></div></a>
                </li>
                <li><a href="#">
                    Update Ficheiro1.txt</a>
                </li>
                <li>
                    autoria de
                </li>
                <li>
                    Tatiana
                </li>
                <li>
                    às
                </li>
                <li>
                    14h
                </li>
            </ul>
        </div>

        <div class="container_commit">
            <ul>
                <li>
                    <a href="#"><div class="perfil"></div></a>
                </li>
                <li><a href="#">
                    Update Ficheiro1.txt</a>
                </li>
                <li>
                    autoria de
                </li>
                <li>
                    Tatiana
                </li>
                <li>
                    às
                </li>
                <li>
                    14h
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <ul>
            <li>21 Oct, 2021</li>
            <li> - </li>
            <li>3 Commits</li>
        </ul>

        <div class="container_commit">
            <ul>
                <li>
                    <a href="#"><div class="perfil"></div></a>
                </li>
                <li><a href="#">
                    Update Ficheiro1.txt</a>
                </li>
                <li>
                    autoria de
                </li>
                <li>
                    Tatiana
                </li>
                <li>
                    às
                </li>
                <li>
                    14h
                </li>
            </ul>
        </div>

        <div class="container_commit">
            <ul>
                <li>
                    <a href="#"><div class="perfil"></div></a>
                </li>
                <li><a href="#">
                    Update Ficheiro1.txt</a>
                </li>
                <li>
                    autoria de
                </li>
                <li>
                    Tatiana
                </li>
                <li>
                    às
                </li>
                <li>
                    14h
                </li>
            </ul>
        </div>

        <div class="container_commit">
            <ul>
                <li>
                    <a href="#"><div class="perfil"></div></a>
                </li>
                <li><a href="#">
                    Update Ficheiro1.txt</a>
                </li>
                <li>
                    autoria de
                </li>
                <li>
                    Tatiana
                </li>
                <li>
                    às
                </li>
                <li>
                    14h
                </li>
            </ul>
        </div>
    </div>
</main>

</body>
</html>