body {
    width: 1366px;
    height: 768px;
    background: #F0F4F7;
}

ul {
    list-style-type: none;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

.background_branco {
    position: absolute;
    width: 1037px;
    height: 576px;
    left: 280px;
    top: 155px;
    background: #FFFFFF;
    z-index: -1;
}

.background_branco1 {
    position: absolute;
    width: 1037px;
    height: 576px;
    left: 280px;
    top: 300px;
    overflow-y: scroll;
    background: #FFFFFF;
    z-index: -1;
}

#caixa_ficheiro {
    position: absolute;
    width: 1000px;
    height: 50px;
    left: 300px;
    top: 180px;

    border: 1px solid #828282;
    box-sizing: border-box;
}

ul#conteudo_ficheiro {
    position: absolute;
    top: -3px;
    left: -22px;
    margin-left: 30px;
}

ul#conteudo_ficheiro li{
    display:inline;
    padding-right: 2px;
}

#churn {
    width: 25px;
    height: 25px;
    margin-top: 12px;
    margin-left: 15px;
    background: #D1D1D1;
    border-radius: 50%;
}

#categoria {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

#nome_ficheiro {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
}

.container {
    width: 300px;
    height:auto;
    position: relative;
    top: 289px;
    left: 308px;

}
.container_commit {
    width: 400px;
    height: 45px;
    margin-left: 40px;
}

.perfil {
    width: 30px;
    height: 30px;

    background: url('https://via.placeholder.com/30x30');
    border:1px solid #626262;
    border-radius: 50%;
}

.container > ul > li {
    display: inline;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
    margin-right: 5px;
}

.container_commit > ul > li:nth-child(2) {
    margin-left: 50px;
    margin-top: -33px;
    float: left;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;

}

.container_commit > ul > li:nth-child(3) {
    margin-left: 100px;
    float:left;
}
.container_commit > ul > li:nth-child(4), .container_commit > ul > li:nth-child(5), .container_commit > ul > li:nth-child(6) {
    float:left;
}

.container_commit > ul > li {
    display: inline;
    margin-top: -9px;
    margin-right: 3px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;

    color: #828282;
}