body {
    background-color: #E5E5E5;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a:link {
    text-decoration: none;
    color: #828282;
}

a:visited {
    text-decoration: none;
    color: #828282;
}

#historico {
    position: absolute;
    width: 112px;
    height: 43px;
    left: 1184px;
    top: 149px;
    padding-top: 10px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #828282;
    box-sizing: border-box;

    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

ul {
    list-style-type: none;
}

#ficheiro {
    position: absolute;
    display: inline-block;
    width: 1000px;
    height: 50px;
    left: 295px;
    top: 210px;
    background-color: #FFFFFF;
    border: 1px solid grey;
    box-sizing: border-box;
}

#ficheiro:hover #dropdown_ficheiro{
    display: block;
}
.churn {
    position: relative;
    width: 25px;
    height: 25px;
    margin-left: -30px;
    margin-top: -2px;
    border-radius: 50%;
    background: #D1D1D1;
}

#ficheiro > ul > li:nth-child(2) {
    width: auto;
    height: 50px;
    float: left;
    margin-top: -23px;
    margin-right: 2px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

#ficheiro > ul > li:nth-child(3) {
    width: auto;
    height: 50px;
    float: left;
    margin-top: -22px;
    margin-right: 2px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #828282;
}

#ficheiro > ul > li:nth-child(4) {
    width: auto;
    height: 50px;
    text-align: center;
    margin-top: -20px;
    margin-right: 2px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}

#ficheiro > ul > li:nth-child(5) {
    width: auto;
    height: 50px;
    text-align: right;
    margin-top: -50px;
    margin-right: 10px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}

#dropdown_ficheiro {
    position: relative;
    margin-left:-7px;
    margin-top:-33px;
    display: none;
    width: 998px;
    height: 185px;
    background-color: #FFFFFF;
    border: 1px solid #626262;
}

#tipo {
    padding-left: 110px;
    height: 20px;
    margin-left:-300px;
    float: left;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}

#dimensao {
    padding-left: 270px;
    height: 20px;
    float: left;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}

#complexidade {
    padding-right: 15px;
    height: 20px;
    float: right;
    text-align: right;
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}
#linha2 {
    display: inline;
}

#linha2 > li:first-child {
    padding-left: 20px;
    margin-top: 10px;
    height: 20px;
    float: left;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}

#linha2 > a > li:nth-child(1) {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    height: 20px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}

#linha3 {
    display: inline;
}

#linha3 > li:first-child {
    padding-left: 0px;
    height: 20px;
    margin-top: 40px;
    margin-left: -446px;
    float: left;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}

#linha3 > a > li:first-child{
    float: left;
    margin-top: 40px;
    margin-left: -270px;
    height: 20px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}

#linha3 > a {
    float: left;
    margin-right: 28px;
    height: 20px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}

#linha4 {
    float: left;
    margin-top: 70px;
    margin-left: -598px;
    height: 20px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}

#caixa_autor {
    width: 350px;
    height: 50px;
    left: 295px;
    top: 523px;

    background: #FFFFFF;
    border: 1px solid #828282;
    box-sizing: border-box;
}

#autor_commit {
    margin-top: 15px;
    margin-left: 40px;
    float: left;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
}

#caixa_commit {
    margin-top: -1px;
    width: 998px;
    height: auto;
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #828282;
    box-sizing: border-box;
}

#ficheiro_commit {
    float: left;
    width: 100px;
    height: 40px;
    padding-left: 42px;
    padding-top: 30px;

    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    z-index: 1;
}

#conteudo_commit {
    float: left;
    width: 800px;
    margin-top: 100px;
    margin-left:-63px;
    margin-bot: 20px;
    text-align: left;
    border: 25px solid white;
}

.quadrado_topo {
    position: absolute;
    width: 1045px;
    height: 334px;
    left: 273px;
    top: 132px;

    background: #FFFFFF;
    z-index: -2;
}

.quadrado_bot {
    position: absolute;
    width: auto;
    height: auto;

    left: 273px;
    top: 496px;
    border: 22px solid white;
    background: #FFFFFF;
    z-index: -2;
}



