<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- {% block head %} Descomentar quando estiver acabado -->
    <title>Ficheiro</title>
    <!-- {% endblock %} Descomentar quando estiver acabado -->

    <link rel = "stylesheet" href="Vista%201%20Ficheiro.css">
</head>
<body>
<!-- {% block body %} Descomentar quando estiver acabado -->

<!-- {% endblock %} Descomentar quando estiver acabado -->

<main>
    <div class="quadrado_topo"></div>


    <a href="#">
        <div id="historico">
            Histórico
        </div>
    </a>

    <button id="ficheiro">
        <ul>
            <li><div class="churn"></div></li>
            <li>[DEV]</li>
            <li>Ficheiro.txt</li>
            <li>Último Commit</li>
            <li>Último Update</li>
        </ul>

        <div id="dropdown_ficheiro">
            <ul id="linha1">
                <li id="tipo">Tipo</li>
                <li id="dimensao">Dimensão</li>
                <li id="complexidade">Complexidade</li>
            </ul>
            <ul id="linha2">
                <li>Issues ao qual este ficheiro está associado:</li>
                <a href="#"><li>#1</li></a>
                <a href="#"><li>#2</li></a>
                <a href="#"><li>#3</li></a>
                <a href="#"><li>#4</li></a>
            </ul>

            <ul id="linha3">
                <li>Histórico de defeitos:</li>
                <a href="#"><li>#1</li></a>
                <a href="#"><li>#2</li></a>
                <a href="#"><li>#3</li></a>
                <a href="#"><li>#4</li></a>
            </ul>

            <ul id="linha4">
                <li>Métricas de Estabilidade</li>
            </ul>
        </div>
    </button>

    <div class="quadrado_bot">
        <div id="caixa_autor">
            <span id="autor_commit">Commit realizado por Tatiana</span>
        </div>

        <div id="caixa_commit">
            <span id="ficheiro_commit">ReadMe.md</span>
            <span id="conteudo_commit">
                <br><br>
            </span>
        </div>
    </div>
</main>

</body>
</html>