{% extends 'base.html' %}

{% block head %}
<title>Árvore</title>
{% endblock %}

{% block body %}



<span>
    Hi,
    <div class="user_name">ABCD</div>
</span>

<div class="user_img"><img alt="Profile_photo"/></div>

    <main>
        <table>
            <tr>
                <td>Pasta 1</td>
                <td>Pasta 2</td>
                <td>Pasta 3</td>
                <td>Pasta 4</td>
                <td>Pasta 5</td>
                <td>Pasta 6</td>
                <td>Pasta 7</td>
                <td>Pasta 8</td>
                <td>Pasta 9</td>
            </tr>
        </table>
        <ul>
            <li>Pasta 1<a href="#1"></a></li>
                <ul>
                    <li>Subpasta1</li>
                    <li>Subpasta2</li>
                </ul>
            <li>Pasta 2<a href="#2"></a></li>
                <ul>
                    <li>Subpasta1</li>
                    <li>Subpasta2</li>
                </ul>
            <li>Pasta 3<a href="#3"></a></li>
                <ul>
                    <li>Subpasta1</li>
                    <li>Subpasta2</li>
                </ul>
            <li>Pasta 4<a href="#4"></a></li>
                <ul>
                    <li>Subpasta1</li>
                    <li>Subpasta2</li>
                </ul>
            <li>Pasta 5<a href="#5"></a></li>
                <ul>
                    <li>Subpasta1</li>
                    <li>Subpasta2</li>
                </ul>
            <li>Pasta 6<a href="#6"></a></li>
                <ul>
                    <li>Subpasta1</li>
                    <li>Subpasta2</li>
                </ul>
            <li>Pasta 7<a href="#7"></a></li>
                <ul>
                    <li>Subpasta1</li>
                    <li>Subpasta2</li>
                </ul>
            <li>Pasta 8<a href="#8"></a></li>
                <ul>
                    <li>Subpasta1</li>
                    <li>Subpasta2</li>
                </ul>
            <li>Pasta 9<a href="#9"></a></li>
                <ul>
                    <li>Subpasta1</li>
                    <li>Subpasta2</li>
                </ul>
        </ul>
    </main>
{% endblock %}