{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'base.css' %} " type="text/css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


<body>

    <header>
        <img src="" alt="Logo!"/>
        
        <p>Formato exemplo: MigDinny/dash-it</p>

        <form action="{% url 'homepage' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="repo-name" placeholder="Procurar Repositório"/>
        </form>
    
        <div id="cabecalho">
            <form action="{% url 'homepage' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="repo-name" placeholder="Procurar Repositório"/>
                <input type="submit" name="submit" class="submit" value="Search">
            </form>

            <div><b>Selected Repository: {{ repo_name }} </b></div> <!--Possivelmente uma métrica-->

            <form action ="{% url 'homepage' %}" method="POST">
                {% csrf_token %}
                <input type ="submit" name = "refresh" value = "Refresh">
            </form>
            <div><b>Last Updated: </b> {{ last_updated }}</div>
        </div>


    </header>
    
    <div class="collapsable">

        <nav>
        <div id="back"></div>
            <a href="{% url 'homepage'%}">Home</a>
            <a href="{% url 'departamento'%}">Departamento</a>
            <a href="{% url 'lista-commits'%}">Commits</a>
            <a href="{% url 'lista-ficheiros'%}">Lista de Ficheiros</a>
            <a href="{% url 'issues'%}">Issues</a>

            <button id="collapse">
                Collapse
            </button>
        </nav>
    </div>

    <script src="{% static 'base.js' %}"></script>
    <script src="{% static 'base2.js' %}"></script>
    
    

    <div style="margin-top:150px; margin-left: 250px;">
        {% block body %}
        {% endblock %}
    </div>

   

    <div style="position: fixed; bottom: 5px; right: 5px;">v1.1.0</div>
</body>
</html>