{% extends 'base.html' %}

{% block head %}
<title>Dashboard</title>
{% endblock %}

{% block body %}

    <main>
        
        <div>
            <table>
                <div class = "commit">
                <b>Lista de membros ativos:</b><br>
                    {% for user in user_info %}
                        <a href = {% url 'perfil_individual' user.id %}>{{user.name}} &emsp; Total time Spent: {{user.time_spent}} hours</a><br>
                    {% endfor %}
                </div>  
                
            </table>
        </div>
    </main>

{% endblock %}
