{% extends 'base.html' %}

{% block head %}
<title>Dashboard</title>
{% endblock %}

{% block body %}


<span>
    Hi,
    <div class="user_name">ABCD</div>
</span>

<div class="user_img"><img alt="Profile_photo" /></div>

<main>
    <a href="{% url 'historico_ficheiro'%}">
        <button>
            History
        </button>
    </a>
    <table>
        <tr>
            <th>{{ file.name }}</th><th>{{ file.size }} Bytes</th>
        </tr>
        <tr>
            <td>{{ file.content | linebreaks}}</td>
        </tr>
        <tr>
            <td>{% for commit in commits %}
                {{commit}}
                {% endfor %}</td>
        </tr>
    </table>
</main>
{% endblock %}
