{% extends 'base.html' %}

{% block head %}
<title>História do Ficheiro</title>
{% endblock %}

{% block body %}


<span>
    Hi,
    <div class="user_name">ABCD</div>
</span>

<div class="user_img"><img alt="Profile_photo"/></div>

    <main>
        <table>
            <tr>
                <th>Name_fich</th>
            </tr>
        </table>

        <p>
            Showing
            <label for="show_changes">2 changed files</label>
            <select id="show_changes" name="changes">
                <option value ="#1">1a mudança</option>
                <option value ="#2">2a mudança</option>
            </select>
            with 70 additions and 13 deletions
        </p>

        <table>
            <tr>
                <th>Name_fich</th>
            </tr>
            <tr>
                <div></div>
                <!--Terminal a mostrar as mudanças-->
            </tr>
        </table>
    </main>
{% endblock %}