{% extends 'base.html' %}

{% block head %}
<title>Dash'it</title>
{% endblock %}

{% block body %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
    {% endfor %}

{% endif %}

<span>
    Hi,
    <div class="user_name">user</div>
</span>

<div class="user_img"><img alt="Profile_photo"/></div>

<main>



</main>
{% endblock %}
