{% extends 'base.html' %}

{% block head %}
<title>Issues</title>
{% endblock %}

{% block body %}


<span>
    Hi,
    <div class="user_name">ABCD </div>
</span>

<div class="user_img"><img alt="Profile_photo"/></div>

    <main>
        
        <br>
        <div>
            <form action = "" method = "POST"> {% csrf_token %}
            <select id ="filtro" name="filtro" onchange = "issues.post()">
                <option value='0'>Todos</option>
                <option value='1'>Abertos</option>
                <option value='2'>Fechados</option>
            </select>
            <input type="submit" value = "submit"/>
            </form>
        </div>         

        <table>

            {% for issue in issues %}
                <tr align="left">
                    <th>Issue: {{issue.title}}</th>
                </tr>
                <tr>
                    <td>Descricao: {{issue.description}} <br> Criado a {{issue.time_creation}} por {{issue.user_id_create.name}} </td>
                </tr>
                <tr>
                    <td><br></td>
                </tr>

            {% endfor %}

        </table>
    </main>
{% endblock %}
