{% extends 'base.html' %}

{% block head %}
<title>Lista de Ficheiros</title>
{% endblock %}

{% block body %}

    <form action = "" method = "POST"> {% csrf_token %}
    <select id ="filtro_user" name="filtro_user" onchange = "FileList.post()">
        <option value='0'>Todos</option>
        {% for user in users %}
          <option value='{{user.id}}'>{{user.name}}</option>
        {% endfor %}
    </select>

    <select id ="filtro_categoria" name="filtro_categoria" onchange = "FileList.post()">
        <option value='0'>Todos</option>
        <option value="[proc]/">Proc</option>
        <option value="arch/">Arch</option>
        <option value="des/">Des</option>
        <option value="dev/">Dev</option>
        <option value="env/">Env</option>
        <option value="pm/">Pm</option>
        <option value="prod/">Prod</option>
        <option value="qa/">Qa</option>
        <option value="req/">Req</option>
        
    </select>

    
    <input type="submit" value = "submit"/>
    </form>
    <table>
        <tr>
          <th scope="col">Filename</th>
          <th scope="col">Last Commit ID</th>
          <th scope="col">Directory</th>
          <th scope="col">Filesize</th>

        </tr>
        {% for file in files %}
        <tr>
          <td><a href={% url 'ficheiro_individual' file.id %}>{{file.name}}</a></td>
          <td>{{file.last_commit_id}}</td>
          <td>{{file.path}}</td>
          <td>{{file.size}} Bytes</td>
        </tr>
        {% endfor %}
      </table>
{% endblock %}
