{% extends 'base.html' %}

{% block head %}
<title>Dashboard</title>
{% endblock %}

{% block body %}




    <main>
        <br>
        <div>
            <form action = "" method = "POST"> {% csrf_token %}
            <select id ="filtro" name="filtro" onchange = "lista_commits.post()">
                <option value='0'>Todos</option>
                {% for user in users %}
                <option value='{{user.id}}'>{{user.name}}</option>
                {% endfor %}
            </select>
            <input type="submit" value = "submit"/>
            </form>
        </div>  

        <div>
            <table>
                <div class = "commit">
                <b>User &emsp; Nome do Commit &emsp; Commit id &emsp; Data &emsp; Descrição</b>
                    {% for commit, files in commits_and_files %}
                        <p>{{commit.user_id.name}} &emsp; {{commit.name}} &emsp; {{commit.time_creation}} &emsp; {{commit.description}}<br/>
                        {% if files|length > 0 %}<b>Ficheiros alterados:</b><br>{% else %}<b>Nenhum ficheiro alterado</b><br>{% endif %}</p>
                        {% for file in files %}
                            &emsp; <b>Nome:</b> {{file.name}} &emsp; <b>Diretoria:</b>{{file.path}} &emsp; <b>Contéudo: </b>{{file.content}}</br>
                        {% endfor %}
                        </br>

                    {% endfor %}
                </div>
                

            </table>
        </div>
    </main>

{% endblock %}