{% extends 'base.html' %}

{% block head %}
<title>Dashboard</title>
{% endblock %}

{% block body %}

    <main>
        
        <div>
            <table>
                <div class = "perfil info">
                
                <p><b>Perfil User: {{user.username}}</b>
                    <br>&emsp; {{user.name}}
                    <br>&emsp; Total time spent: {{user.time_spent}}</p>
                
                </div>  

                <div class = "commit list">
                <b>Lista de commits: </b><br>
                    {% for commit in commits_user %}
                        <p>&emsp; {{commit.name}} &emsp; {{commit.time_creation}}<br>
                        <b>Descrição: </b><br>
                        &emsp; {{commit.description}} <br></p>
                    {% endfor%}
                
                </div>
                
            </table>
        </div>
    </main>

{% endblock %}
