{% extends 'base.html' %}

{% block head %}
<title>Social</title>
{% endblock %}

{% block body %}

<!--O nome provavelmente vai ser alterado de "Social" para outro qualquer no futuro-->
<span>
    Hi,
    <div class="user_name">ABCD</div>
</span>

<div class="user_img"><img alt="Profile_photo"/></div>

    <main>
        <div id="Dropdown_Social"></div>

        <img alt="Profile-photo"/>

        <div>
            <!--histórico de commits-->
            <table>
                <tr>
                    <th>Histórico de Commits</th>
                    <th>Data do Commit</th>
                </tr>
                <tr>
                    <td>Commit #1</td>
                    <td>21/05/12</td>
                </tr>
                <tr>
                    <td>Commit #2</td>
                    <td>23/05/12</td>
                </tr>
            </table>
        </div>
        <div>
            <!--histórico de alterações do ficheiro-->
            <table>
                <tr>
                    <th>Histórico de Alteração de Ficheiros</th>
                    <th>Data da Mudança</th>
                </tr>
                <tr>
                    <td>Mudança #1</td>
                    <td>27/05/12</td>
                </tr>
                <tr>
                    <td>Mudança #2</td>
                    <td>02/06/12</td>
                </tr>
            </table>
        </div>
    </main>
{% endblock %}