header {
    position: absolute;
    width: 100%;
    height: 105px;
    left: 0;
    top: 0;

    background: #DBE0EA;
}

nav {
    position: absolute;
    width: 240px;
    height: 100%;
    left: 0;
    top: 105px;
    z-index: 1;
    overflow-x: hidden;
    background: #84A1B1;
}

ul {
    list-style-type: none;
}

a:link {
    text-decoration: none;
    color: #4554d6;
}

a:visited {
    text-decoration: none;
    color: #4554d6;
}

#cabecalho {
    display: inline;
    position: absolute;
    left: 1000px;
    top: 30px;
}
/*
input[type=text], select {
    float: left;
    width: 250px;
    height: 30px;
    text-align: left;
    padding: 15px 15px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border: 0;
}
*/

form {
    float: left;
    width: 250px;
    display: inline;
    height: 30px;
    text-align: left;
    padding: 10px 10px;
}
input {
    padding: 4px 10px;
    border: 0;
    font-size: 16px;
}
.search {
    margin-left: -50px;
    width: 75%;
}

.submit {
    width: 70px;
    background-color: #84A1B1;
    color: #ffffff;
}

#cabecalho > span {
    float: left;
    margin-top: 10px;
    margin-left: 0px;

    font-family:Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #828282;
}

#perfil {
    float: left;
    width: 50px;
    height: 50px;
    margin-top: -5px;
    margin-left: 10px;
    background: url('https://via.placeholder.com/50x50');
    border:1px solid #626262;
    border-radius: 50%;
}

nav {
    height: 100%;
    margin-top: 105px;
    width: 200px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #84A1B1;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
nav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    margin-top: 30px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #E8EBF5;
}


nav a:hover, .dropdown-btn:hover {
    color: #E8EBF5;
}

.active {

}


.dropdown-container {
    display: none;
    padding-left: 8px;
    height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
}


.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.dropdown-container > a {
    margin-top: 0px;
}

#collapse {
    position: fixed;
    width: 150px;
    height: 50px;
    z-index: 1;
    left: 25px;
    top: 90%;
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #84A1B1;
}

#collapse:active {
    display: none;
}


