@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Montserrat;
    background-color: #F0F4F6;
}

/*Header*/
header {
    position: absolute;
    width: 100%;
    height: 105px;
    left: 0;
    top: 0;

    background: #DBE0EA;
}

.header-nav {
    float: left;
    width: 250px;
    display: inline;
    height: 30px;
    text-align: left;
    padding: 10px 10px;
}

input {
    padding: 4px 10px;
    border: 0;
    font-size: 16px;
}

input {
    padding: 4px 10px;
    border: 0;
    font-size: 16px;
}


#cabecalho {
    display: inline;
    position: absolute;
    left: 1000px;
    top: 30px;
}

.search {
    margin-left: -50px;
    width: 75%;
}

.submit {
    width: 70px;
    background-color: #84A1B1;
    color: #ffffff;
}


#cabecalho > span {
    float: left;
    margin-top: 10px;
    margin-left: 0px;

    font-family:Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #828282;
}

#perfil {
    float: left;
    width: 50px;
    height: 50px;
    margin-top: -5px;
    margin-left: 10px;
    background: url('https://via.placeholder.com/50x50');
    border:1px solid #626262;
    border-radius: 50%;
}


/*side-bar nav*/

nav {
    height: 100%;
    margin-top: 105px;
    width: 200px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #84A1B1;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
nav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    margin-top: 30px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #E8EBF5;
}


nav a:hover, .dropdown-btn:hover {
    color: #E8EBF5;
}

.active {

}


.dropdown-container {
    display: none;
    padding-left: 8px;
    height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
}


.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.dropdown-container > a {
    margin-top: 0px;
}

#collapse {
    position: fixed;
    width: 150px;
    height: 50px;
    z-index: 1;
    left: 25px;
    top: 90%;
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #84A1B1;
}

#collapse:active {
    display: none;
}


/*commit graph*/


.commit-graph{
    width: 994px;
    height: 212px;
    margin-top: 150px;
    margin-left: 309px;
    margin-right: 66;
    padding: 10px;
    background-color: #FFFFFF;

}

/* main */

main{
    display: flex;
}

/*commits table*/

.commits-container{
    width: 744px;
    height: 280px;
    margin-top: 50px;
    margin-left: 309px;
    margin-right: 30px;
    align-items: center;
    background-color: #FFFFFF;

}

.table-style{
    margin: 10px;
    width: 750px;
    height: 260px;
    overflow: auto;
}


table{
    border-collapse: collapse;
    margin:5px 5px;
    width: 720px;
}

table tr.commit{
    border: 0.2px solid black;
    height: 50px;
}

th, td {
    color: #828282;
    text-align: left;
    padding: 8px;
  }


td:nth-last-child(1) {
    text-align: right;
}

/*Filter dropdown*/

label.filter{
        padding: 3px 10px;
        margin-top:50px;
        margin-left: 152px;
        text-align: center;
        color:white;
        font-weight: 700;
        letter-spacing: 2px;
        display: block;
        font-family: Montserrat;
        background-color: #C4C4C4;
        cursor: pointer;

}

ul{
    position: absolute;
    list-style:none;
    border-radius: 5px;
    width: 100%;
    display:none;
}

[id^=btn]:checked + ul{
    display: block;
}

.author-container{
    width: 200px;
    height: 95px;
    overflow-y: auto;
}

.category-container{
    width: 200px;
    height: 95px;
    overflow-y: auto;
}



ul div.filter-background{
    padding-top: 5px;
    padding-bottom: 5px ;
    cursor: pointer;
    color: #828282;
    text-decoration: none;
    padding-left: 30px;
    display: block;
}

.dropdown-container-filter{
    width: auto;
}

ul ul {
    position: static;
}

ul ul li {
    line-height: 30px;
    padding-left: 30px;
    border-bottom: none;
}

li{
    font-weight: 200;
}

.filter-background{
    width: 233px;
    background: #E8EBF5 ;
}

input{
    display:none;
}




