body{
    background-color: #E5E5E5;
    color: dimgrey;
    font: 13pt Montserrat, "Montserrat SemiBold";
}

.caixa_timeline {
    position: absolute;
    width: 964px;
    height: 203px;
    left: 318px;
    top: 155px;
    background: #FFFFFF;

}

.scroll{
    position: absolute;
    width: 790px;
    height: 300px;
    left: 318px;
    top: 435px;
    box-sizing: border-box;
    overflow: auto;
}

#caixa {
    position: absolute;
    width: 787px;
    height: 350px;
    left: 318px;
    top: 430px;
    background: #FFFFFF;
}

/* Primeiro ficheiro */
#caixa_ficheiro1 {
    position: absolute;
    width: 738.72px;
    height: 41.61px;
    left: 20px;
    top: 61px;
    border: 1px solid #828282;
    box-sizing: border-box;
}

ul#conteudo_ficheiro {
    position: relative;
    top: -4.5px;
    bottom: 0.3px;
    left: -15px;
    margin-left: 1px;
}

#categoria1 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
}

#categoria2 {
    float: right;
    top: 6px;
    bottom: 6px;
    left: -20px;
}

ul#conteudo_ficheiro li{
    display: inline-block;
    padding-right: 2px;
}


/* Segundo ficheiro */
#caixa_ficheiro2 {
    position: absolute;
    width: 738.72px;
    height: 41.61px;
    left: 20px;
    top: 101.5px;

    border: 1px solid #828282;
    box-sizing: border-box;

}

/* Terceiro ficheiro */
#caixa_ficheiro3 {
    position: absolute;
    width: 738.72px;
    height: 41.61px;
    left: 20px;
    top: 142.3px;

    border: 1px solid #828282;
    box-sizing: border-box;
}


/* Quarto ficheiro */
#caixa_ficheiro4 {
    position: absolute;
    width: 738.72px;
    height: 41.61px;
    left: 20px;
    top: 183.2px;

    border: 1px solid #828282;
    box-sizing: border-box;
}

/* Quinto ficheiro */
#caixa_ficheiro5 {
    position: absolute;
    width: 738.72px;
    height: 41.61px;
    left: 20px;
    top: 224.5px;

    border: 1px solid #828282;
    box-sizing: border-box;
}


/* Sexto ficheiro */
#caixa_ficheiro6 {
    position: absolute;
    width: 738.72px;
    height: 41.61px;
    left: 20px;
    top: 264.6px;

    border: 1px solid #828282;
    box-sizing: border-box;
}


body{
    background-color: #F0F4F6;
    color: dimgrey;
    font: 13pt Montserrat, "Montserrat SemiBold";
}

a {
    text-decoration: none;
    color: #828282;
}

.filtrar{
    position: absolute;
    width: 100px;
    left: 1129px;
    top: 405px;
    background: #E8EBF5;
}
.alinhar{
    text-align: center
}


.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 160px;
    padding: 12px 16px;
    z-index: 1;
}
.dropdown-content1 {
    overflow-y:scroll ;
    display: none;
    height: 80px;
    position: absolute;
    background-color: #f9f9f9;
    margin-top: 10px;
    width: 135px;
    padding: 8px 16px;
    z-index: 1;

}

.dropdown-content2 {
    overflow-y:scroll ;
    display: none;
    height: 80px;
    position: absolute;
    background-color: #f9f9f9;
    margin-top: 10px;
    width: 135px;
    padding: 8px 16px;
    z-index: 1;
}
.dropdown:hover .dropdown-content2 {
    display: block;

}
.dropdown:hover .dropdown-content1 {
    display: block;

}

.dropdown:hover .dropdown-content {
    display: block;
}

ul {
    list-style-type: none;
}