<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!-- {% block head %} Descomentar quando estiver acabado -->
    <title>Dash'it - Social</title>
    <!-- {% endblock %} Descomentar quando estiver acabado -->

    <link rel = "stylesheet" href="vistaPerfil.css">
</head>

<body>
    <!-- {% block body %} Descomentar quando estiver acabado -->
    
    <!-- {% endblock %} Descomentar quando estiver acabado -->

<main>
    <div class=member_profile></div>
        <div id="profile"></div>
        <div id="member_name">Nome</div>
        <div id="member_team">Equipa</div>
    </div>


    <div class = "grafico_atividade">
        <!--Gráfico representativo da atividade do perfil-->
    </div>

    <div class="tabela_atividade">
        <button id="merge_requests">
            <ul>
                <li>Merge Requests</li>
            </ul>

            <table id="lista_mergeRequests">
                <tr><td><a href="#"><li>Merge Request 1</li></a></td></tr>
                <tr><td><a href="#"><li>Merge Request 2</li></a></td></tr>
                <tr><td><a href="#"><li>Merge Request 3</li></a></td></tr>
            </table>
        </button>

        <button id="commits">
            <ul>
                <li>Commits</li>
            </ul>

            <table id="lista_commits">
                <tr><td><a href="#"><li>Commit 1</li></a></td></tr>
                <tr><td><a href="#"><li>Commit 2</li></a></td></tr>
                <tr><td><a href="#"><li>Commit 3</li></a></td></tr>
            </table>
        </button>

        <button id="issues">
            <ul>
                <li>Issues</li>
            </ul>

            <table id="lista_issues">
                <tr><td><a href="#"><li>Issue 1</li></a></td></tr>
                <tr><td><a href="#"><li>Issue 2</li></a></td></tr>
                <tr><td><a href="#"><li>Issue 3</li></a></td></tr>
            </table>
        </button>
        
        <button id="ficheiros_alterados">
            <ul>
                <li>Ficheiros</li>
            </ul>

            <table id="lista_ficheiros">
                <tr><td><a href="#"><li>Ficheiro1.txt</li></a></td></tr>
                <tr><td><a href="#"><li>Ficheiro2.txt</li></a></td></tr>
                <tr><td><a href="#"><li>Ficheiro3.txt</li></a></td></tr>
            </table>
        </button>
    </div>

</main>

</body>
</html>