body {
    background-color: #E5E5E5;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a:link {
    text-decoration: none;
    color: #828282;
}

a:visited {
    text-decoration: none;
    color: #828282;
}

/* ============= Perfil */
#profile {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 20px;
    background: url('https://via.placeholder.com/150x150');
    border:1px solid #626262;
    border-radius: 50%;
}

#member_name {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 24px;
    text-align: center;
    color: #828282;
}

#member_team {
    width: 150px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #828282;
}


/* ============= Tabela com os dados do membro */
.tabela_atividade {
    width: 1045px;
    height: 330px;
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;
    border: 20px solid white;
}


#merge_requests {
    display: inline-block;
    width: 180px;
    height: 50px;
    background-color: #FFFFFF;
    border: 1px solid grey;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #626262;
}

#merge_requests:hover {
    background-color: #84A1B1;
}


#commits {
    display: inline-block;
    width: 180px;
    height: 50px;
    background-color: #FFFFFF;
    border: 1px solid grey;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #626262;
}

#commits:hover {
    background-color: #84A1B1;
}


#issues {
    display: inline-block;
    width: 180px;
    height: 50px;
    background-color: #FFFFFF;
    border: 1px solid grey;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #626262;
}

#issues:hover {
    background-color: #84A1B1;
}

#ficheiros_alterados {
    display: inline-block;
    width: 180px;
    height: 50px;
    background-color: #FFFFFF;
    border: 1px solid grey;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: #626262;
}

#ficheiros_alterados:hover {
    background-color: #84A1B1;
}


#ficheiros_alterados:hover #lista_ficheiros{
    display: block;
}

#merge_requests:hover #lista_mergeRequests{
    display: block;
}

#commits:hover #lista_commits{
    display: block;
}

#issues:hover #lista_issues{
    display: block;
}


#lista_mergeRequests {
    position: relative;
    margin-left: -7px;
    margin-top: auto;
    display: none;
    width: 1035px;
    height: 270px;
    background-color: #FFFFFF;
    border: 1px solid #626262;
    overflow-y: scroll;
    overflow-x: hidden;
}

#lista_commits {
    margin-left: -191px;
    margin-top: auto;
    display: none;
    width: 1035px;
    height: 270px;
    background-color: #FFFFFF;
    border: 1px solid #626262;
    overflow-y: scroll;
    overflow-x: hidden;
}

#lista_issues {
    margin-left: -375px;
    margin-top: auto;
    display: none;
    width: 1035px;
    height: 270px;
    background-color: #FFFFFF;
    border: 1px solid #626262;
    overflow-y: scroll;
    overflow-x: hidden;
}

#lista_ficheiros {
    margin-left: -559px;
    margin-top: auto;
    display: none;
    width: 1035px;
    height: 270px;
    background-color: #FFFFFF;
    border: 1px solid #626262;
    overflow-y: scroll;
    overflow-x: hidden;
}


td {
    position: relative;
    width: 1035px;
    height: 20px;
    border-bottom: 1px solid #626262;
    text-align: left;
    padding: 5px;
}


#merge_requests > ul, #commits > ul, #issues > ul, #ficheiros_alterados > ul {
    margin-left: -45px;
}