<!--{% extends 'base.html' %}

//{% block head %}-->

<!--{% endblock %}

{% block body %}-->

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width", initial-scale=.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Issue</title>
    <link rel="stylesheet" href="style.css"/>
</head>





<body>
    
    <div class = "inner_body">
        <div class = "main">
            <div class="img-container">
                <img class="graph" scr="images/graph" alt = "">
            </div>
            <form action ="">
                <button class = "issues_abertos" type="issues_abertos">
                    Aberto
                </button>
                <button class = "issues_fechados" type="issues_fechados">
                    Fechado
                </button>
                <button class = "issues_todos" type="issues_todos">
                    Todos
                </button>
            </form>
        <div class="table-container">
                <table class = "table" id="Lista_Ficheiros" >
                    <tr>
                        <th>Issue 1</th>

                        <td>#1</td>
                        <td>Criado há 1 semana por</td>
                        <td>Tatiana</td>
                    </tr>
                    <tr>
                        <th>Issue 2</th>

                        <td>#2</td>
                        <td>Criado há 1 semana por</td>
                        <td>Duarte</td>
                    </tr>
                    <tr>
                        <th>Issue 3</th>

                        <td>#3</td>
                        <td>Criado há 1 semana por</td>
                        <td>Patrícia</td>
                    </tr>



                </table>
            </div>
        </div>
    </div>
</body>
<!--{% endblock %}-->
