@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
  background-color: #e5e5e5;
}

.inner_body {
  width: 1067px;
  height: 605px;
  left: 226px;
  top: 131px;
  position: absolute;
  background: #ffffff;
}

.img-container {
  border-style: none;
  width: 860.75px;
  height: 148.47px;
  margin-left: 103.13px;
  margin-top: 100px;
  background: url("images/graph.svg");
}

.issues_abertos {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border-style: none;
  color: #ffffff;
  margin-left: 41px;
  margin-top: 50px;
  width: 122px;
  height: 33px;

  background: #84a1b1;
}

.issues_fechados {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border-style: none;

  color: #ffffff;

  width: 122px;
  height: 33px;

  background: #c4c4c4;
}

.issues_todos {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border-style: none;
  color: #ffffff;

  width: 122px;
  height: 33px;

  background: #c4c4c4;
}

.table {
  border: 1px solid #828282;
  border-collapse: collapse;
  width: 920px;
  height: 52.89px;

  background: #ffffff;
  position: relative;
  box-sizing: border-box;
  padding: 15px;
  text-align: left;
}

.table-container {
  overflow: auto;
  width: 940px;
  height: 260px;
  margin-left: 41px;
  top: 424.22px;
}
tr {
  border: 1px solid black;
  height: 50px;
}
